<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tampilan awal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
{{!-- css styling --}}
<style>
h1 {
    font-size: 7em;
    text-align: center;
    font-family: fantasy;
}
a.btn.btn-sm.btn-info.edit {
    width: 30%;
    margin-right: 10%;
    margin-left: 10%;
    float:left;
    font-size: 2em;
}
a.btn.btn-sm.btn-danger.delete {
    width: 30%;
    margin-right: 10%;
    margin-left: 10%;
    float: right;
    font-size: 2em;
}

#kembali {
    margin-left: 41%;
    border: solid 2px green;
    margin-right: 41%;
    font-size: 4em;
    background: aquamarine;
}
img {
    width: 50em;
    margin-left: 19%;
}
div#edit-delete {
    margin-top: 7%;
}
</style>
<body>
<div class="container" id="content1">
  <div id="isi" class="container">
      {{#each results2}}
    <h1>{{ Nama }}</h1>
    <h1>{{Diresmikan}}</h1>
    <h1>{{Provinsi_id}}</h1>
    <img src={{photo}}>
<div id="edit-delete">
    <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ id }}" data-nama="{{ Nama }}" data-diresmikan="{{ Diresmikan }}" data-photo="{{ photo }}" data-provinsi_id="{{ Provinsi_id }}">Edit</a>
      <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id }} ">Delete</a>
    </div>
  </div>
      {{/each}}
</div>

<div class="container">
<a id="kembali" href="/kabupaten-first">Kembali</a>
  </div>

 <!-- Modal Update kabupaten-->

   <form action="/update-kabupaten" method="post">
       <div class="modal fade" id="EditModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Kabupaten</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"> 
            <div class="form-group">
                   <input type="text" name="nama" class="nama form-control" placeholder="Nama Provinsi" required>
               </div>
 
               <div class="form-group">
                   <input type="text" name="Diresmikan" class="diresmikan form-control" placeholder="diresmikan" required>
               </div>
               <div class="form-group">
                   <input type="text" name="photo" class="photo form-control" placeholder="photo" required>
               </div>
               <div class="form-group">
                   <input type="text" name="provinsi_id" class="provinsi_id form-control" placeholder="ID Provinsi" required>
               </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="id form-control">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>

     <!-- Modal Delete kabupaten-->
      <form id="add-row-form" action="/delete-kabupaten" method="post">
         <div class="modal fade" id="DeleteModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Delete Kabupaten</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                      <strong>Anda yakin mau menghapus kabupaten ini?</strong>
                   </div>
                   <div class="modal-footer">
                        <input type="hidden" name="id" class="form-control kabupaten_tb" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                    </div>
            </div>
         </div>
     </form>
<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
            //tampilkan data ke modal untuk edit
      $('#content1').on('click','.edit',function(){
        var nama = $(this).data('nama');
        var diresmikan = $(this).data('diresmikan');
        var photo = $(this).data('photo');
        var provinsi_id = $(this).data('provinsi_id');
        var id = $(this).data('id');
        $('#EditModal1').modal('show');
        $('.id').val(id);
        $('.nama').val(nama);
        $('.diresmikan').val(diresmikan);
        $('.photo').val(photo);
        $('.provinsi_id').val(provinsi_id);
      });
            //tampilkan modal hapus record
            $('#content1').on('click','.delete', function(){var id = $(this).data('id');
        $('#DeleteModal1').modal('show');
        $('.kabupaten_tb').val(id);
      });
 
    });
</script>
</body>